<form ng-submit="userSignup()">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">    
      <legend class="heading">Signup</legend>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Billy Bob" ng-model="user.name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="billy@bob.com" ng-model="user.email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="password1" ng-model="user.password">
      </div>

      <button type="submit" class="btn button">Signup</button>
    </div>  
  </div>
</form>