
<div ng-hide="isLoggedIn()" class="text-center" id="bgPic">
	<div class="row" id="content">	
		<div class="col-md-6">	
			<!-- <i class="fa fa-video-camera" id="camera"></i> -->
		</div>
		<div class="col-md-6">	
			<div class="well" id="aboutWell"><h3 id="aboutText">Welcome to StreamTV, an online video streaming service without advertising. Sign up to StreamTV in order to view any content.</h3></div>
		</div>
	</div>
</div>

<div ng-show="isLoggedIn()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">			
			<h1 class="heading">Videos</h1>
			<form role="form" ng-submit="fetchFromYouTube()">
				<div class="form-group heading">
					<label for="Search" class="heading"></label>
					<input type="text" class="form-control" id="inputSearch" placeholder="ex: Grape lady falls" ng-model="search" autofocus="">
				</div>
				<button type="submit" class="btn button" id="buttonSearch">Search</button>
				<button ng-click="reset()" class="btn button">Clear</button>
			</form>
		</div>	
	</div>
	<div class="row" id="resultVids">
		<div class="col-md-6 col-md-offset-3">
			
			<div class="well row" ng-repeat="video in videos track by video.id" id="customWell">
				<div class="col-md-4">
					<a ng-href="/show/{{video.id}}/{{video.details.title}}">{{video.details.title}}</a>
					<p>{{video.details["description"]}}</p>
				</div>
				<div class="col-md-8">
					<img ng-src="{{video.details.thumbnails.medium.url}}" width="320" class="img-responsive" />	
				</div>
			</div>
		</div>
	</div>
</div>


