html {
  height: 100%;
}

body {
	background-color: #f1f1f1;
	height: 100%;
}

* {
	font-family: 'Roboto Slab', serif;
	color: #4B244A;
	/*border-radius: 0 !important;*/
}

.heading {
	color: #4B244A;
}

#navCustom {
	border: 2px solid #491C48;
	background-color: #4B244A;
}

#navFont {
	color: #968490;
}

.button {
	background-color: #4B244A;
	border: 2px solid #491C48;
}

.well {
	background-color: white;
	color: #4B244A;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

#href {
	color: white;
}

#camera {
	font-size: 48px;
}

#bgPic {
	background-image: url("../images/computerPic.jpg");
	z-index: -500;
	background-size: cover;
	width: 100%;
	height: 640px;
}

#content {
	z-index: 5;
}

#aboutWell {
	border: rgba(75,36,74,0.5);
	background-color: rgba(75,36,74,0.5);
	height: 640px;
}

#aboutText {
	color: white;
	font-size: 36px;
	margin-top: 50px; 
}

#resultVids {
	margin-top: 20px;
}

#backBtn {
	color: white;
	background-color: #4B244A;
	border: 2px solid white;
	z-index: 500;
	position: fixed;
}

#backBtn404 {
	margin-top: 20px;
	color: white;
	background-color: #4B244A;
	border: 2px solid white;
}

#scrollbox {
	border: 2px solid #491C48;
	background-color: rgba(75,36,74,0.5);
	box-shadow: rgba(255, 255, 255, 0.6) inset;
	height:420px;
	width:350px;
	overflow:auto;
	padding: 20px;
	margin-top: 20px;
}

#relatedVids {
	z-index: -500;
}

.relatedHeader {
	z-index: 100;
	width: 100%;
	padding: 1px;
}

#tint {
	position: relative;

}

#tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.5);
	background-size: 100%;
	height: 420px;
	margin: -20px;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

#scrollbox:hover #tint {
	visibility: hidden;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
	border: 2px solid #491C48;
	background-color: #4B244A;
	padding: 10px;
} 

#developer {
	color: #968490;
	margin-right: 10px;
}

#classTag {
	color: #968490;
	position: fixed;
	right: 10px;
}




